
@model Torq.Models.Objects.Schedule[]
@{
    ViewBag.Title = "Index";
}

<head>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        /*$('#sandbox-container div').datepicker({
            todayBtn: "linked",
            language: "sv",
            todayHighlight: true
        });*/
    </script>
</head>


<h2>Index</h2>
<h3></h3>
<div id="sandbox-container">
    <div>
    </div>
</div>

<input type="datetime" id="dateTimeField" />

<script>
    $(document).ready(function () {
        $('#dateTimeField').on('keyup', dateFilter);
       
    });
    //window.addEventListener('load', () => {   });
    function dateFilter(event) {
        //let input, filter;
        //input = document.getElementById("dateTimer");
        //filter = input.value.toUpperCase();
        let text = event.target.value;
        console.log('Date time is: ' + text);

        let myArray = [];
        let newArray = [];
        let innerArray = [];
        let EmployeeArray = [];

        let ii = 0;
        let jj = 0;

        

        $("ul").empty();
        /*
        for (jj; jj < ViewBag.Employees; jj++) {
            EmployeeArray[jj] = {Id: e.Id, FirstName: e.FirstName, LastName: e.LastName, IsOnline: e.IsOnline};
            jj++;
            let selectElement = document.createElement("Select");
            document.getElementById('EmployeeSelector').appendChild(selectElement);
            selectElement.innerHTML = EmployeeArray[ii];
           

        }
        console.log(ViewBag.Employees);
        */
        @foreach (var d in Model)
        {

         @:myArray.push("@d");
         if (d.Employee != null)
         {
         @:innerArray[ii] = { Id: "@d.Employee.Id", FirstName: "@d.Employee.FirstName", LastName: "@d.Employee.LastName", IsOnline: "@d.Employee.IsOnline" };
       
            }
            else
            {
            @:innerArray[ii] = null;
            }
         @:newArray[ii] = { Id: "@d.Id", ClockedIn: "@d.ClockedIn", Employee: innerArray[ii], EndTime: "@d.EndTime", StartTime: "@d.StartTime", Salary: "@d.Salary" };
         @:ii++;

        }
      
        console.log(myArray);
     

        let FilterdDates = newArray.filter(obj => String(obj.StartTime).includes(dateTimeField.value));
        let split = String(newArray[0].StartTime).split(" ");
        document.getElementById("lemo").innerHTML = split[0];
        

       
        var Aul = document.createElement('ul');
        var Bul = document.createElement('ul');
        document.getElementById('AvailableDiv').appendChild(Aul);
        document.getElementById('BookedDiv').appendChild(Bul);
  
        
        for (ii = 0; ii < FilterdDates.length; ii++)
        {

            let x = document.createElement("A");
            let t = document.createTextNode("Edit");
            x.setAttribute("href", "editschedule/" + FilterdDates[ii].Id);
            x.appendChild(t);

            if (FilterdDates[ii].Employee === null) {
                let li = document.createElement('li');
                Aul.appendChild(li);
                li.innerHTML += FilterdDates[ii].StartTime + " -> " + FilterdDates[ii].EndTime + ": ";
                li.appendChild(x);

            }
            else {
                li = document.createElement('li');
                Bul.appendChild(li);
                li.innerHTML += FilterdDates[ii].Employee.FirstName + " " + FilterdDates[ii].Employee.LastName + ": " + FilterdDates[ii].StartTime + " -> " + FilterdDates[ii].EndTime + ": ";
            }
        }
        console.log(FilterdDates.length);
    }
</script>

<p id="lemo">exempel tid</p>

<select id="EmployeeSelector"></select>

<h4>Available</h4>
<div id="AvailableDiv"></div>
<ul id="myUL">
    <!--@foreach (var x in ViewBag.CalendarDataList)
        {
            if (x.Employee == null)
            {
                <li>
                    @x.Id;
                    @x.StartTime;
                    @x.EndTime;
                </li>
            }

        }-->
    </ul>
    <h4>Booked</h4>
<div id="BookedDiv"></div>
    <ul>
        <!--   @foreach (var x in ViewBag.CalendarDataList)
        {
            if (x.Employee != null)
            {

                <li>
                    @x.Employee.FirstName;
                    @x.Id;
                    @x.StartTime;
                    @x.EndTime;
                </li>

            }
        }-->
    </ul>


