
@model Torq.Models.Objects.Schedule[]
@{
    ViewBag.Title = "Index";
}
@Html.Partial("_MonthPartial")


<head>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        /*$('#sandbox-container div').datepicker({
            todayBtn: "linked",
            language: "sv",
            todayHighlight: true
        });*/
    </script>
    <style>
        <style >
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: white;
        }
    </style>
</head>

<h3></h3>
<div id="sandbox-container">
    <div>
    </div>
</div>

<!--<input type="datetime" id="dateTimeField" />-->
<select id="EmployeeSelector"><option>choose</option></select>

<script>
    $(document).ready(function () {
     //   $('#dateTimeField').on('keyup', dateFilter);
        $('#EmployeeSelector').on('change', employeeFilter);
       // $('#EmployeeSelector').change(function () { console.log(this) });

        var y = JSON.parse('@Html.Raw(Json.Encode(ViewData["Employees"]))');
        var options = y;
        console.log(options);
        $('#EmployeeSelector');
        $.each(options, function (i, p) {
            $('#EmployeeSelector').append($('<option></option>').val(p).html(p.FirstName));
        });

    });

    function employeeFilter(event)
    {
        var optionSelected = $("option:selected", this);
        console.log(optionSelected[0].innerHTML);
        console.log(event);
        let sOption = optionSelected[0].innerHTML;
        console.log("denna");
        console.log(sOption + " text");

        localStorage.setItem('ChoosenEmployee', sOption);
        console.log("log 2: " + localStorage.getItem('ChoosenEmployee'));

        let newArray = [];
        let innerArray = [];
        let EmployeeArray = [];

        let ii = 0;

        $(".UlKlass").empty();
        $("#ATable").empty();
        $("#BTable").empty();


        @foreach (var d in Model)
        {

        if (d.Employee != null)
        {
             @:innerArray[ii] = { Id: "@d.Employee.Id", FirstName: "@d.Employee.FirstName", LastName: "@d.Employee.LastName", IsOnline: "@d.Employee.IsOnline" };
            @:newArray[ii] = { Id: "@d.Id", ClockedIn: "@d.ClockedIn", Employee: innerArray[ii], EndTime: "@d.EndTime", StartTime: "@d.StartTime", Salary: "@d.Salary" };
            @:ii++;

         }



        }


        console.log(sOption + "soption");
        console.log('newArray', newArray);
        console.log("sträng" + newArray[0].Employee.FirstName);
        let FilterdDates = newArray.filter(obj => String(obj.Employee.FirstName).includes(sOption));
   

        console.log("här");
        for (ii = 0; ii < FilterdDates.length; ii++)
        {

            let MyTr = document.createElement("tr");

            let x = document.createElement("a");
            let t = document.createTextNode("Edit");
            x.setAttribute("href", "editschedule/" + FilterdDates[ii].Id);
            x.appendChild(t);

            if (FilterdDates[ii].Employee === null) {
                let li = document.createElement('li');

                let Th1 = document.createElement('th');
                let Th2 = document.createElement('th');
                let Th3 = document.createElement('th');

                document.getElementById('ATable').appendChild(MyTr);

                MyTr.appendChild(Th1);
                MyTr.appendChild(Th2);
                MyTr.appendChild(Th3);

                Th1.innerHTML = FilterdDates[ii].StartTime;
                Th2.innerHTML = FilterdDates[ii].EndTime;
                Th3.appendChild(x);
            }

            else {
                let li = document.createElement('li');

                let Th1 = document.createElement('th');
                let Th2 = document.createElement('th');
                let Th3 = document.createElement('th');
                let Th4 = document.createElement('th');

                document.getElementById('BTable').appendChild(MyTr);

                MyTr.appendChild(Th4);
                MyTr.appendChild(Th1);
                MyTr.appendChild(Th2);
                MyTr.appendChild(Th3);

                Th4.innerHTML = FilterdDates[ii].Employee.FirstName + " " + FilterdDates[ii].Employee.LastName;
                Th1.innerHTML = FilterdDates[ii].StartTime;
                Th2.innerHTML = FilterdDates[ii].EndTime;
                Th3.appendChild(x);
            }
        }
        //


        }

   /* function dateFilter2(MarkedDate)
    {
        console.log(MarkedDate);
    } */

    function dateFilter2(selectedDate) {
        console.log("Selected Date: " + selectedDate);
        let myArray = [];
        let newArray = [];
        let innerArray = [];
        let EmployeeArray = [];

        let ii = 0;

        $(".UlKlass").empty();
        $("#ATable").empty();
        $("#BTable").empty();

        @foreach (var d in Model)
        {
            @:console.log("Employee :" + "@d.Employee");

         @:myArray.push("@d");
         if (d.Employee != null)
         {
             @:innerArray[ii] = { Id: "@d.Employee.Id", FirstName: "@d.Employee.FirstName", LastName: "@d.Employee.LastName", IsOnline: "@d.Employee.IsOnline" };
         }
         else
         {
             @:innerArray[ii] = null;
         }

         @:newArray[ii] = { Id: "@d.Id", ClockedIn: "@d.ClockedIn", Employee: innerArray[ii], EndTime: "@d.EndTime", StartTime: "@d.StartTime", Salary: "@d.Salary" };
         @:ii++;

        }

        console.log(myArray);

        let FilterdDates = newArray.filter(obj => String(obj.StartTime).includes(selectedDate)); //dateTimeField.value
        let split = String(newArray[0].StartTime).split(" ");      
        

        for (ii = 0; ii < FilterdDates.length; ii++)
        {

            let MyTr = document.createElement("tr");
           
            let x = document.createElement("a");
            let t = document.createTextNode("Edit");
            x.setAttribute("href", "editschedule/" + FilterdDates[ii].Id);
            x.appendChild(t);

            if (FilterdDates[ii].Employee === null) {
                let li = document.createElement('li');

                let Th1 = document.createElement('th');
                let Th2 = document.createElement('th');
                let Th3 = document.createElement('th');

                document.getElementById('ATable').appendChild(MyTr);

                MyTr.appendChild(Th1);
                MyTr.appendChild(Th2);
                MyTr.appendChild(Th3);

                Th1.innerHTML = FilterdDates[ii].StartTime;
                Th2.innerHTML = FilterdDates[ii].EndTime;
                Th3.appendChild(x);
            }

            else {
                let li = document.createElement('li');

                let Th1 = document.createElement('th');
                let Th2 = document.createElement('th');
                let Th3 = document.createElement('th');
                let Th4 = document.createElement('th');

                document.getElementById('BTable').appendChild(MyTr);

                MyTr.appendChild(Th4);
                MyTr.appendChild(Th1);
                MyTr.appendChild(Th2);
                MyTr.appendChild(Th3);

                Th4.innerHTML = FilterdDates[ii].Employee.FirstName + " " + FilterdDates[ii].Employee.LastName;
                Th1.innerHTML = FilterdDates[ii].StartTime;
                Th2.innerHTML = FilterdDates[ii].EndTime;
                Th3.appendChild(x);
            }
        }
        console.log(FilterdDates.length);
    }
</script>

<p></p>




<div id="AvailableDiv" class="col-sm-5" style="border-radius:5px; background-color:#e3e3e3;">
    <h4>Available</h4>
    <table id="ATable" style="margin-bottom:15px;"></table>
 </div>
    
<div class="col-sm-1"></div>

<div id="BookedDiv" class="col-sm-6" style="border-radius:5px; background-color:#e3e3e3;">
    <h4>Booked</h4>
    <table id="BTable" style="margin-bottom:15px;"></table>
</div>


